
body{
    font-family: "Poppins", sans-serif;
}



.mybanner{
color: brown;
font-size: 40px;
font-weight: 400;
margin-left: 50px;
}



.banner{
    color: black;
   padding-top: 30px;
   margin-left: 40px;
   font-size: 15px;
font-weight: 600;
padding-right: 40px;
margin: right 40px;
}


.mybutton{
  background-color: #dd131a;
color: #ffffff;
border-radius: 0;
margin-right: 80px;
padding: 15px 40px;
text-decoration: none;
}

.mycol{
 color: #555555;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 200px;
}

.mycol2{
     font-size: 85px;
font-family: "Poppins", sans-serif;
color: #0c1a3c;
margin-bottom: 40px;
font-weight: 700;
margin-top: 30px;
margin-right: 40px;
}


.mycol3{
    font-size: 16px;
color: #555555;
line-height: 1.8;
font-weight: 400;
padding-bottom: 20px;

}


.mylink{
    border-radius: 0;
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    background-color: #dd131a;
color: #ffffff;
padding: 15px 30px;
text-decoration: none;
  }


  .myimg{
    height: 600px;
    width: 600px;
    margin: 150px;
    padding-right: 50px;
  }


  .myspan{
    padding-left: 700px;
    font-size: 16px;
color: #dd131a;
font-weight: 500;

margin-bottom: 10px;
font-family: "Roboto", sans-serif;
  }


  .mylone{
    font-size: 40px;
font-family: "Poppins", sans-serif;
color: #0c1a3c;
font-weight: 700;
  }


  .mypictuer{
   
max-width: 100%;
  }


  .mypara{
    font-size: 16px;
    color: #555555;
  }


  .mylink1{
    background-color: #dd131a;
    color: #ffffff;
    padding: 15px 30px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 0;
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
margin-left: 500px;
text-decoration: none;
margin-bottom: 50px;
border-radius: 0;


  }

  .mydonate{
  background-color: #0c1a3c;
color: #ffffff;
transition: all ease 0.5s;
border-radius: 0;
font-weight: 500;
font-size: 15px;
font-family: "Roboto", sans-serif;
padding: 15px 30px;
margin-bottom: 50px;
margin-left: 30px;
  }

  .mybild{
    max-width: 80%;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 50px;
  }

  .myspan2{
    color: #dd131a;
display: inline-block;
margin-bottom: 15px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
  }

  .mytitel{
    font-size: 40px;
margin-bottom: 25px;
font-family: "Poppins", sans-serif;
color: #0c1a3c;
font-weight: 700;
margin-top: 0;
line-height: 1.2;
  }

  .mysentence{
    font-family: "Roboto", sans-serif;
margin-bottom: 20px;
font-size: 16px;
color: #555555;
line-height: 1.8;
margin-top: 0;

  }


  .mybtn{
    transition: all ease 0.5s;
    border-radius: 0;
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    background-color: #dd131a;
color: #ffffff;
padding: 15px 30px;
margin-right: 15px;
text-decoration: none;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
display: inline-block;
  }

  .mybtn:hover{
    background-color: #0c1a3c;
    color: white;
  }

  .myspan3{
    font-size: 16px;
    color: #dd131a;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-left: 580px;
  }

  .myuntertitel{
    font-size: 40px;
font-family: "Poppins", sans-serif;
color: #0c1a3c;
font-weight: 700;
margin-top: 0;
margin-bottom: .5rem;
line-height: 1.2;
text-align: center;
  }

  .card{
    margin-left: 50px;
  }

  .card-img-top{
    max-width: 100%;
    vertical-align: middle;
  }

  .card-title{
    font-size: 22px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color: #0c1a3c;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
    text-align: center;
  }

  .card-text{
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    font-size: 16px;
color: #555555;
line-height: 1.8;
margin-top: 0;
text-align: center;
  }

  .myunorderlist{
    margin-bottom: 0;
padding-left: 0;
margin-top: 0;
box-sizing: border-box;
margin-left: 20px;
  }

  .mylist{
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    box-sizing: border-box;
  
  }

  .myclick{
  height: 40px;
width: 40px;
line-height: 43px;
background-color: #ffffff;
border-radius: 100%;
box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
border: 1px solid #eeeeee;
color: #555555;
display: inline-block;
text-align: center;
font-size: 18px;
text-decoration: none;
  }